
<section class="container" style="margin-bottom: 3rem;">
  <section class="col">
    <section class="row">
      <header class="col d-flex justify-content-center mt-3" style="color:blue;">
        <h1>Welcome to the File Uploader page</h1>
      </header>      
    </section>
    <section class="row d-flex justify-content-center mt-5">
        <button [routerLink]="'/multiplefileupload'" class="btn btn-info"><i class="bi bi-files"> Multiple Files Upload</i></button>
        <button [routerLink]="'/fileDataToUpload'" class="btn btn-info"><i class="bi bi-file-plus"> Single File Upload</i></button>
        <button [routerLink]="'/showAllData'" class="btn btn-info"><i class="bi bi-database"> UpLoaded data</i></button>
        <button [routerLink]="'/showUser'" class="btn btn-info"><i class="bi bi-people"> Show Users</i></button>
        <button [routerLink]="'/register'" class="btn btn-info"><i class="bi bi-person-plus"> Register new user</i></button>
        <button [routerLink]="'/about'" class="btn btn-info"><i class="bi bi-info-circle"> About</i></button>
    </section>
  </section>
</section>
